@tailwind base;
@tailwind components;
@tailwind utilities;

.section-header {
  text-align: center;
  margin: 40px 0;
}
.section-header-title {
  font-size: 32px;
  font-weight: bold;
}
.section-header-description {
  font-size: 18px;
}
.highlight {
  color: #003fb4;
}
.speaker-modal {
  display: none;
  position: relative;
  padding: 40px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.speaker-modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}
.speaker-modal-close:hover {
  color: dimgrey;
}
.speaker-modal-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 24px;
  border-right: 2px solid #ccc;
}

.speaker-modal-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.speaker-modal-position {
  font-size: 18px;
  font-weight: bold;
}
.speaker-modal-company {
  font-size: 16px;
  color: #a0a0a0;
}
.speaker-modal-socials {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}
.speaker-modal-bio {
  font-weight: 600;
  padding: 20px;
  padding-left: 0;
}
.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftBtn,
.rightBtn {
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.leftBtn {
  left: -40px;
}

.rightBtn {
  right: -40px;
}
.speakers-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  overflow-x: auto;
}
.speaker-card {
  min-width: 285px;
  min-height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.speaker-card-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.program-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.program-footer-button {
  padding: 16px 80px;
  background-color: #003fb4;
  color: white;
  border-radius: 10px;
}
.program-info {
  width: 50%;
  text-align: center;
}
.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66%;
}

.hidden {
  display: none;
}
.speakers-grid::-webkit-scrollbar {
  display: none;
}
.customGrid {
  display: grid;
  grid-template-columns: 1.2fr 1.8fr;
  place-items: center;
  gap: 20px;
}
