@tailwind base;
@tailwind components;
@tailwind utilities;

.speaker-card {
  min-width: 285px;
  min-height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.customGrid {
  display: grid;
  grid-template-columns: 1.2fr 1.8fr;
  place-items: center;
  gap: 20px;
}
.hidden {
  display: none;
}
.speakers-grid::-webkit-scrollbar {
  display: none;
}

.speaker-card-content {
  cursor: pointer;
}
